@import "../styles/variables.scss";

.tops {
  margin-top: 5rem;
  border: $border;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-weight: 600;
      font-size: 1.5rem;
      color: $text-color;
    }
    h3 {
      color: $secondary-text-color;
      font-weight: 600;
      font-size: 1.2rem;
    }
  }

  .card_container {
    display: flex;
    align-items: center;
    //padding: 1rem 1rem;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
}
