//grid variables

$title-color: #7c8db5;
$text-color: #303e65;
$secondary-text-color: #7c8db5;
$secondary-color: #fa7c05;
$border: 1px solid #e8f0fb;
$background-color: #f2f7ff;
$green_color: #2a9a9a;
